#game {
    display: flex;
    justify-content: center;

}

body {
    background-color: #E1BDF8;
}

@media only screen and (max-width: 600px) {
    #cube {
        width: 50%;
    }
}

@media only screen and (min-width: 600px) {
    #cube {
        width: 16%;
    }
}

#cube {
    transition: 0.2s;
    border-radius: 5px;
}

.main {
    text-align: center;
}

.counter {
    margin-bottom: 22rem;
}

.ball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: red;
    /* #5546B0  #55D628 #FAFF00 #FF0000 */
}

.ball {
    transition: 0.2s;
    position: absolute;
    top: 40px;
    left: 48vw;
}

#start {
    font-size: xx-large;
    color: white;
    height: 100vh;
    width: 100vw;
    padding-top: 2rem;
    backdrop-filter: blur(10px);
    background-color: rgba(128, 128, 128, 0.358);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 4rem;

}
